
body, p, h2 { 
    margin: 0; 
    padding:0; 
    overflow:hidden;
    font-family : Arial;
}

.charactersChoserBackground
{
    width:100%;
    height:400px; 
    font-size: 0;
	
}

#charactersContainer
{
    height: 300px; 
    width:40%; 
    display:inline-block; 
    position:relative; 
    overflow:hidden;
    font-size: 1rem;
	vertical-align: top;
}

#mov
{
    background-color: #000000; 
    height:300px; 
    position:relative;
	
}

#myRange
{
    width: 40%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	-webkit-appearance: none;
    background-color: #00b4ba;
    height:20px;
}

#myRange::-webkit-slider-thumb 
{
     -webkit-appearance: none;
    background-color: blue;
    opacity: 0.8;
    width: 15px;
    height: 26px;
}

#rangeContainer
{
	text-align: center;
}

.characterDiv
{
	vertical-align: top;
    height: 280px;
    background-color: white;
    display:inline-block; 
    margin-left:10px;
    margin-top: 10px;
	text-align: center;	
}

#leftCharacter
{
	text-align: center;
	vertical-align: top;
}

#rightCharacter
{
	text-align: center;
}

.characterSide
{
    width:30%;
    height:300px;
background-color: black;
    display: inline-block;
	overflow:hidden;
}

#chosenCharacter
{
	
	height: 280px;

    margin-left: auto;
	margin-right: auto;
    margin-top: 10px;
	text-align: center;	
	font-size: 16px;

}

.characterImage
{
	max-width: 96%;

}

.characterName
{
	margin:5px;
	font-family: Arial;
	color: #FFFFFF;
	background-color: #FF4242;
}

.characterImageDiv
{
	width:	100%;
}

.charactersLife
{
	margin:5px;
	height: 45px;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FFDD00;
	line-height: 45px;
	text-align: left;
}

.heartDiv
{
	display: inline-block;
	height: 45px;
	width: 45px;
	background-size: contain;
	background-image: url("../images/heart.png");
}

#loader
{
	height: 128px;
	width: 128px;
	margin-left: auto;
	margin-right: auto;	
	background-image: url('../images/Shape53.png');
	margin-top: 100px;

}

#volume
{
	width: 100px;
	height: 100px;
	background-image:url('../images/mute-off.png');
	background-size: contain;
}

#canvas
{
	position: fixed;
	z-index:10 ;
	top:0px;
	left:0px;
}

.combatCharacterDiv
{
	height : 300px;
	width  : 300px;
	background-color: E8EEFF;
	text-align: center;
	border: solid 1px;
}


#combatEnnemyDiv
{
	float:right;
	margin-right: 10px;
}

#combatSelfDiv
{
	display : inline-block;
	vertical-align: top;
	margin-left: 10px;
}

.globalCharacterDiv
{
	height : 300px;
}

.barreDeVie
{
	height: 10px;
	width: 300px;
	margin-top:10px;
	background-color: green;
	-webkit-transition-property:width, background-color;
	-webkit-transition-duration:300ms;
	-webkit-transition-timing-function:ease-out;
}


#attaqueChoserDiv
{
	height:300px;
	width:500px;
	background-color: E8EEFF;
	overflow: hidden;
	display: inline-block;
	margin-left: 50px;
	border: solid 1px;
}

#selfDiv
{
	margin-top: 100px;

}

#attaqueDiv
{
	height: 300px;
	width: 500px;
	position: fixed;
	top:0px;
	left:-500px;
	-webkit-transition-property:left;
	-webkit-transition-duration:600ms;
	-webkit-transition-timing-function:cubic-bezier(0, 0, .58, 1);
}

#video
{
	max-height: 100%;
}